body,
html {
  font-family: "Times New Roman", serif !important;
}

/* HEADER */
.header-custom {
  height: 100px;
  background-color: #01127d;
}

/* MENU TRÁI */
.menu-left {
  background-color: #00196d;
  border: 1px solid #000;
}

.menu-left .item {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #000;
  color: white;
  cursor: pointer;
}

.menu-left .item.active {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.menu-left .item:hover {
  background-color: #022b96;
}

/* FORM */
form {
  border: 1px solid #000;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}
