body,
html {
  font-family: "Times New Roman", Times, serif !important;
}

/* title */
.container-fluid.px-0 .bg.bg-primary {
  height: 100px !important;
  background-color: rgb(8, 0, 126) !important;
}

/* nav */
.container-fluid.bg-warning {
  background-color: yellow !important;
}

.container .gap-2 {
  height: 30px;
}

.container .gap-2 .border-y {
  height: 70%;
  border: 1px solid black;
}

/* main */
.container.border {
  border: 1px solid black !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.container .main-title .h2 {
  padding: 20px 0;
}

.container .row {
  padding: 5px 0;
}

/* textarea */
.container textarea {
  min-height: 130px;
  max-height: 130px;
  resize: vertical;
}

/* button */
.container .button-custom {
  padding: 10px 0;
}
.container .button-custom .btn-custom {
  border: 0.8px solid rgb(134, 134, 134);
  border-radius: 4px;
}
